<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar custom-navbar navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Url.Action("Index", "Home")">
                    <img class="header-logo" src="~/Resources/BuildyLogoWhite.png" alt="logo" />
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active-menu" : "")">
                        <a href="@Url.Action("Index", "Home")">
                            <img src="~/Resources/business-card-of-a-man-with-contact-info.svg" alt="logo" />
                            What is Buildy?
                        </a>
                    </li>
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Create" ? "active-menu" : "")">@Html.ActionLink("Build a PC", "Create", "Computers")</li>
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "About" ? "active-menu" : "")">@Html.ActionLink("About", "About", "Home")</li>
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Contact" ? "active-menu" : "")">@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        @*<hr />*@
    </div>

    <footer>
        <p>&copy; @DateTime.Now.Year Powered by Buildy</p>
        <a href="https://github.com/Viksaa/Buildy">
            <img class="footer-logo" src="~/Resources/BuildyLogoWhite.png" alt="LOGO" />
        </a>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
