@model IEnumerable<Buildy.Models.PC_Components.Cooling>

@{
    ViewBag.Title = "AddCooling";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AddCooling</h2>

<table class="table" id="Cooling">
    <thead>
        <tr>
            <th class="no-sort">
                Image
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Manufacturer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Size)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Speed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CoolingType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RGB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th class="no-sort"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="@item.ImageURL" width="100" height="50">
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Manufacturer.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Size)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Speed) Rpm
                </td>
                <td>
                    @Html.DisplayFor(model => item.CoolingType.Name) 
                </td>
                <td>
                    <i class="glyphicon @(item.RGB ? "glyphicon-check" : "glyphicon-unchecked")"></i>
                </td>
                <td>
                    $@Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.ActionLink("Add", "AddCoolingToPc", new { id = item.Id }, new { @class = "btn btn-success" })
                </td>
            </tr>
        }
    </tbody>

</table>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            $("#Cooling").dataTable({
                "order": [],
                "columnDefs": [{
                    "targets": 'no-sort',
                    "orderable": false
                }]
            });
        });
    </script>
}