@model IEnumerable<Buildy.Models.PC_Components.CPU>

@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View</h2>

<table class="table" id="CPU">
    <thead>
        <tr>
            <th class="no-sort">
                Image
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Manufacturer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Socket)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cores)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Threads)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Frequency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cache)
            </th>
            <th  class="no-sort">
                @Html.DisplayNameFor(model => model.CoolingSolution)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th class="no-sort"></th>
        </tr>
    </thead>
    <tbody>@foreach (var item in Model)
           {
        <tr>
            <td>
                <img src="@item.ImageURL" width="100" height="50">
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Manufacturer.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Socket.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cores)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Threads)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Frequency) GHz
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cache)
            </td>
            <td>
                <i class="glyphicon @(item.CoolingSolution ? "glyphicon-check" : "glyphicon-unchecked")"></i>
            </td>
            <td>
                $@Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.ActionLink("Add", "AddCpuToPc", new { id = item.Id }, new { @class = "btn btn-success" })
            </td>
        </tr>
           }
    </tbody>

</table>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            $("#CPU").dataTable({
                "order": [],
                "columnDefs": [ {
                    "targets": 'no-sort',
                    "orderable": false
                } ]
            });
        });
    </script>
}

