@model IEnumerable<Buildy.Models.PC_Components.RAM>
@using Buildy.Models.PC_Components;
@{
    ViewBag.Title = "AddRam";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add Ram</h2>

<table class="table" id="Ram">
    <thead>
        <tr>
            <th class="no-sort">
                Image
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Manufacturer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RamMemoryType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Size)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Timing)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Frequency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th class="no-sort"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="@item.ImageURL" width="100" height="50">
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Manufacturer.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RamMemoryType.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Size)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Timing)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Frequency) GHz
                </td>
                <td>
                    $@Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <label>Ammount:</label>
                    <select class="form-control" id="sel @item.Id">
                        @if (Session["Mb"] != null)
                        {
                            var mb = (Motherboard)Session["Mb"];
                            for (int i = 1; i <= mb.DimmSlots && i*item.Size <= mb.MemorySupport; i++)
                            {
                                <option>@i</option>
                            }
                        }
                        else
                        {
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                        }
                    </select>
                    @Html.ActionLink("Add", "AddRamToPc", new { id = item.Id }, new { @class = "btn btn-success" })
                </td>
            </tr>
        }
</tbody>

</table>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            $("#Ram").dataTable({
                "order": [],
                "columnDefs": [ {
                    "targets": 'no-sort',
                    "orderable": false
                } ]
            });
        });
    </script>
}