@model Buildy.Models.Computer
@using Buildy.Models.PC_Components

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>
<table id="PcTable" class="table">
    <thead>
    <tr>
        <th>Part</th>
        <th>Selected Part</th>
        <th>Selection</th>
    </tr>

    </thead>
    <tbody>
    <tr>
        <td>CPU</td>
        <td>
            @{
                var cpu = "";
                if (Session["Cpu"]!= null)
                {
                    var temp = (CPU)Session["Cpu"];
                    cpu = temp.Name;
                }
            }
            <a href="/computers">@cpu</a>
        </td>
        <td>
            @Html.ActionLink("Add", "AddCpu", "Computers", new { @class = "btn btn-success" })
            @{
                if (cpu != "")
                {
                    @Html.ActionLink("Remove", "RemoveCpu", "Computers", new { @class = "btn btn-danger" })
                }
            }
        </td>
    </tr>
    <tr>
        <td>Motherboard</td>
        <td></td>
        <td> @Html.ActionLink("Add", "AddCpu", "Computers", new { @class = "btn btn-success" })</</td>
    </tr>
    <tr>
        <td>Memory</td>
        <td></td>
        <td>@Html.ActionLink("Add", "AddCpu", "Computers", new { @class = "btn btn-success" })</</td>

    </tr>
    <tr>
        <td>GPU</td>
        <td></td>
        <td>@Html.ActionLink("Add", "AddCpu", "Computers", new { @class = "btn btn-success" })</</td>
    </tr>
    <tr>
        <td>Case</td>
        <td></td>
        <td>
            @Html.ActionLink("Add", "AddCpu", "Computers", new { @class = "btn btn-success" })</
        </td>
    </tr>
    <tr>
        <td>Storage</td>
        <td></td>
        <td> @Html.ActionLink("Add", "AddCpu", "Computers", new { @class = "btn btn-success" })</</td>
    </tr>
    <tr>
        <td>Power Supply</td>
        <td></td>
        <td> @Html.ActionLink("Add", "AddCpu", "Computers", new { @class = "btn btn-success" })</</td>
    </tr>
    <tr>
        <td>Cooling</td>
        <td></td>
        <td> @Html.ActionLink("Add", "AddCpu", "Computers", new { @class = "btn btn-success" })</</td>
    </tr>
    </tbody>
</table>
