@model Buildy.Models.Computer
@using Buildy.Models.PC_Components

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>
<table id="PcTable" class="table">
    <thead>
        <tr>
            <th>Part</th>
            <th>Selected Part</th>
            <th>Price</th>
            <th>Selection</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>CPU</td>
            <td>
                @{
                    var cpu = "";
                    var cpuPrice = "";
                    if (Session["Cpu"] != null)
                    {
                        var temp = (CPU)Session["Cpu"];
                        cpu = temp.Manufacturer.Name + " " + temp.Name;
                        cpuPrice = "$" + temp.Price.ToString();
                    }
                }
                <a href="/computers">@cpu</a>
            </td>
            <td>@cpuPrice</td>
            <td>
                @Html.ActionLink("Add", "AddCpu", "Computers", new { @class = "btn btn-success" })
                @{
                    if (cpu != "")
                    {
                        @Html.ActionLink("Remove", "RemoveCpu", "Computers",
                            new { @class = "btn btn-danger", confirm = true, onclick = "return confirm('Are you sure you want to delete this ?')" })
                    }
                }
            </td>
        </tr>
        <tr>
            <td>Motherboard</td>
            <td>
                @{
                    var mb = "";
                    var mbPrice = "";
                    if (Session["Mb"] != null)
                    {
                        var tmp = (Motherboard)Session["Mb"];
                        mb = tmp.Manufacturer.Name + " " + tmp.Name;
                        mbPrice = "$" + tmp.Price.ToString();
                    }
                }
                <a href="/computers">@mb</a>
            </td>
            <td>@mbPrice</td>
            <td>
                @Html.ActionLink("Add", "AddMotherboard", "Computers", new { @class = "btn btn-success" })
                @{
                    if (mb != "")
                    {
                        @Html.ActionLink("Remove", "RemoveMotherboard", "Computers",
                            new { @class = "btn btn-danger", confirm = true, onclick = "return confirm('Are you sure you want to delete this ?')" })
                    }
                }
            </td>
        </tr>
        <tr>
            <td>Memory</td>
            <td>
                @{
                    var ram = "";
                    var ramPrice = "";
                    if (Session["Ram"] != null)
                    {
                        var tmp = (RAM)Session["Ram"];
                        ram = tmp.Manufacturer.Name + " " + tmp.Name;
                        ramPrice = "$" + tmp.Price.ToString();
                    }
                    <a href="/computers">@ram</a>
                }
            </td>
            <td>@ramPrice</td>
            <td>
                @Html.ActionLink("Add", "AddRam", "Computers", new { @class = "btn btn-success" })
                @{
                    if (ram != "")
                    {
                        @Html.ActionLink("Remove", "RemoveRam", "Computers",
                            new { @class = "btn btn-danger", confirm = true, onclick = "return confirm('Are you sure you want to delete this ?')" })
                    }
                }
            </td>

        </tr>
        <tr>
            <td>GPU</td>
            <td>
                @{
                    var Gpu = "";
                    var gpuPrice = "";
                    if (Session["Gpu"] != null)
                    {
                        var tmp = (GPU)Session["Gpu"];
                        Gpu = tmp.Manufacturer.Name + " " + tmp.Name;
                        gpuPrice = "$" + tmp.Price.ToString();
                    }
                    <a href="/computers">@Gpu</a>
                }
            </td>
            <td>@gpuPrice</td>
            <td>
                @Html.ActionLink("Add", "AddGpu", "Computers", new { @class = "btn btn-success" })
                @{
                    if (Gpu != "")
                    {
                        @Html.ActionLink("Remove", "RemoveGpu", "Computers",
                            new { @class = "btn btn-danger", confirm = true, onclick = "return confirm('Are you sure you want to delete this ?')" })
                    }
                }
            </td>
        </tr>
        <tr>
            <td>Case</td>
            <td>
                @{
                    var Case = "";
                    var casePrice = "";
                    if (Session["Case"] != null)
                    {
                        var tmp = (Case)Session["Case"];
                        Case = tmp.Manufacturer.Name + " " + tmp.Name;
                        casePrice = "$" + tmp.Price.ToString();
                    }
                    <a href="/computers">@Case</a>
                }
            </td>
            <td>@casePrice</td>
            <td>
                @Html.ActionLink("Add", "AddCase", "Computers", new { @class = "btn btn-success" })
                @{
                    if (Case != "")
                    {
                        @Html.ActionLink("Remove", "RemoveCase", "Computers",
                            new { @class = "btn btn-danger", confirm = true, onclick = "return confirm('Are you sure you want to delete this ?')" })
                    }
                }
            </td>
        </tr>
        <tr>
            <td>Storage</td>
            <td>
                @{
                    var storage = "";
                    var storagePrice = "";
                    if (Session["Storage"] != null)
                    {
                        var tmp = (Storage)Session["Storage"];
                        storage = tmp.Manufacturer.Name + " " + tmp.Name;
                        storagePrice = "$" + tmp.Price.ToString();
                    }
                    <a href="/computers">@storage</a>
                }
            </td>
            <td>@storagePrice</td>
            <td>
                @Html.ActionLink("Add", "AddStorage", "Computers", new { @class = "btn btn-success" })
                @{
                    if (storage != "")
                    {
                        @Html.ActionLink("Remove", "RemoveStorage", "Computers",
                            new { @class = "btn btn-danger", confirm = true, onclick = "return confirm('Are you sure you want to delete this ?')" })
                    }
                }
            </td>
        </tr>
        <tr>
            <td>Power Supply</td>
            <td>
                @{
                    var Psu = "";
                    var psuPrice = "";
                    if (Session["Psu"] != null)
                    {
                        var tmp = (PSU)Session["Psu"];
                        Psu = tmp.Manufacturer.Name + " " + tmp.Name;
                        psuPrice = "$" + tmp.Price.ToString();
                    }
                    <a href="/computers">@Psu</a>
                }
            </td>
            <td>@psuPrice</td>
            <td>
                @Html.ActionLink("Add", "AddPsu", "Computers", new { @class = "btn btn-success" })
                @{
                    if (Psu != "")
                    {
                        @Html.ActionLink("Remove", "RemovePsu", "Computers",
                            new { @class = "btn btn-danger", confirm = true, onclick = "return confirm('Are you sure you want to delete this ?')" })
                    }
                }
            </td>
        </tr>
        <tr>
            <td>Cooling</td>
            <td>
                @{
                    var cooling = "";
                    var coolingPrice = "";
                    if (Session["Cooling"] != null)
                    {
                        var tmp = (Cooling)Session["Cooling"];
                        cooling = tmp.Manufacturer.Name + " " + tmp.Name;
                        coolingPrice = "$" + tmp.Price.ToString();
                    }
                    <a href="/computers">@cooling</a>
                }
            </td>
            <td>@coolingPrice</td>
            <td>
                @Html.ActionLink("Add", "AddCooling", "Computers", new { @class = "btn btn-success" })
                @{
                    if (cooling != "")
                    {
                        @Html.ActionLink("Remove", "RemoveCooling", "Computers",
                            new { @class = "btn btn-danger", confirm = true, onclick = "return confirm('Are you sure you want to delete this ?')" })
                    }
                }
            </td>
        </tr>
    </tbody>
</table>
<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm("Buy", "Computers", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
                <input type="submit" class="btn btn-primary btn-block" value="Buy" />
            </div>
        }
    </div>
    <div class="col-md-4">
        @using (Html.BeginForm("Save", "Computers", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
        <div class="form-group">
            <label for="exampleInputEmail1">Computer name</label>
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        </div>
            <div class="form-group">
                <input type="submit" class="btn btn-success btn-block" value="Save" />
            </div>
        }
    </div>
    <div class="col-md-4">
        @using (Html.BeginForm("Reset", "Computers", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
                <input type="submit" class="btn btn-danger btn-block" value="Reset" id="Reset" />
            </div>
        }
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            $(".btn-delete").click(function (event) {
                event.preventDefault();
                $('<div title="Confirm Box"></div>').dialog({
                    open: function (event, ui) {
                        $(this).html("Yes or No question?");
                    },
                    close: function () {
                        $(this).remove();
                    },
                    resizable: false,
                    height: 140,
                    modal: true,
                    buttons: {
                        'Yes': function () {
                            $(this).dialog('close');
                            $.post('url/theValueYouWantToPass');

                        },
                        'No': function () {
                            $(this).dialog('close');
                            $.post('url/theOtherValueYouWantToPAss');
                        }
                    }
                });
            });

           $("#Reset").click(function(){
    if(confirm("Are you sure you want to reset this build?")){
        $("#delete-button").attr("href", "query.php?ACTION=delete&ID='1'");
    }
    else{
        return false;
    }
});
        });
    </script>
}

