@model Buildy.Models.Computer
@using Buildy.Models.PC_Components

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>


    <table id="PcTable" class="table">
        <thead>
            <tr>
                <th>Part</th>
                <th>Selected Part</th>
                <th>Price</th>
                <th>Selection</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>CPU</td>
                <td>
                    @{
                        var cpu = "";
                        var cpuPrice = "";
                        if (Session["Cpu"] != null)
                        {
                            var temp = (CPU)Session["Cpu"];
                            cpu = temp.Manufacturer.Name + " " + temp.Name;
                            cpuPrice = "$" + temp.Price.ToString();
                        }
                    }
                    <a href="/computers">@cpu</a>
                </td>
                <td>@cpuPrice</td>
                <td>
                    @Html.ActionLink("Edit", "AddCpu", "Computers", new { @class = "btn btn-success" })
                </td>
            </tr>
            <tr>
                <td>Motherboard</td>
                <td>
                    @{
                        var mb = "";
                        var mbPrice = "";
                        if (Session["Mb"] != null)
                        {
                            var tmp = (Motherboard)Session["Mb"];
                            mb = tmp.Manufacturer.Name + " " + tmp.Name;
                            mbPrice = "$" + tmp.Price.ToString();
                        }
                    }
                    <a href="/computers">@mb</a>
                </td>
                <td>@mbPrice</td>
                <td>
                    @Html.ActionLink("Edit", "AddMotherboard", "Computers", new { @class = "btn btn-success" })
                </td>
            </tr>
            <tr>
                <td>Memory</td>
                <td>
                    @{
                        var ram = "";
                        var ramPrice = "";
                        if (Session["Ram"] != null)
                        {
                            var tmp = (RAM)Session["Ram"];
                            ram = tmp.Manufacturer.Name + " " + tmp.Name;
                            ramPrice = "$" + tmp.Price.ToString();
                        }
                        <a href="/computers">@ram</a>
                    }
                </td>
                <td>@ramPrice</td>
                <td>
                    @Html.ActionLink("Edit", "AddRam", "Computers", new { @class = "btn btn-success" })
                </td>

            </tr>
            <tr>
                <td>GPU</td>
                <td>
                    @{
                        var Gpu = "";
                        var gpuPrice = "";
                        if (Session["Gpu"] != null)
                        {
                            var tmp = (GPU)Session["Gpu"];
                            Gpu = tmp.Manufacturer.Name + " " + tmp.Name;
                            gpuPrice = "$" + tmp.Price.ToString();
                        }
                        <a href="/computers">@Gpu</a>
                    }
                </td>
                <td>@gpuPrice</td>
                <td>
                    @Html.ActionLink("Edit", "AddGpu", "Computers", new { @class = "btn btn-success" })
                </td>
            </tr>
            <tr>
                <td>Case</td>
                <td>
                    @{
                        var Case = "";
                        var casePrice = "";
                        if (Session["Case"] != null)
                        {
                            var tmp = (Case)Session["Case"];
                            Case = tmp.Manufacturer.Name + " " + tmp.Name;
                            casePrice = "$" + tmp.Price.ToString();
                        }
                        <a href="/computers">@Case</a>
                    }
                </td>
                <td>@casePrice</td>
                <td>
                    @Html.ActionLink("Edit", "AddCase", "Computers", new { @class = "btn btn-success" })
                </td>
            </tr>
            <tr>
                <td>Storage</td>
                <td>
                    @{
                        var storage = "";
                        var storagePrice = "";
                        if (Session["Storage"] != null)
                        {
                            var tmp = (Storage)Session["Storage"];
                            storage = tmp.Manufacturer.Name + " " + tmp.Name;
                            storagePrice = "$" + tmp.Price.ToString();
                        }
                        <a href="/computers">@storage</a>
                    }
                </td>
                <td>@storagePrice</td>
                <td>
                    @Html.ActionLink("Edit", "AddStorage", "Computers", new { @class = "btn btn-success" })
                </td>
            </tr>
            <tr>
                <td>Power Supply</td>
                <td>
                    @{
                        var Psu = "";
                        var psuPrice = "";
                        if (Session["Psu"] != null)
                        {
                            var tmp = (PSU)Session["Psu"];
                            Psu = tmp.Manufacturer.Name + " " + tmp.Name;
                            psuPrice = "$" + tmp.Price.ToString();
                        }
                        <a href="/computers">@Psu</a>
                    }
                </td>
                <td>@psuPrice</td>
                <td>
                    @Html.ActionLink("Edit", "AddPsu", "Computers", new { @class = "btn btn-success" })
                </td>
            </tr>
            <tr>
                <td>Cooling</td>
                <td>
                    @{
                        var cooling = "";
                        var coolingPrice = "";
                        if (Session["Cooling"] != null)
                        {
                            var tmp = (Cooling)Session["Cooling"];
                            cooling = tmp.Manufacturer.Name + " " + tmp.Name;
                            coolingPrice = "$" + tmp.Price.ToString();
                        }
                        <a href="/computers">@cooling</a>
                    }
                </td>
                <td>@coolingPrice</td>
                <td>
                    @Html.ActionLink("Edit", "AddCooling", "Computers", new { @class = "btn btn-success" })
                </td>
            </tr>
        </tbody>
    </table>

    <div class="col-md-4">
        @using (Html.BeginForm("Edit", "Computers", new { id = ViewBag.Id } ,FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
                <input type="submit" class="btn btn-success btn-block" value="Save" id="Save" />
            </div>
        }
    </div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            $(".btn-delete").click(function (event) {
                event.preventDefault();
                $('<div title="Confirm Box"></div>').dialog({
                    open: function (event, ui) {
                        $(this).html("Yes or No question?");
                    },
                    close: function () {
                        $(this).remove();
                    },
                    resizable: false,
                    height: 140,
                    modal: true,
                    buttons: {
                        'Yes': function () {
                            $(this).dialog('close');
                            $.post('url/theValueYouWantToPass');

                        },
                        'No': function () {
                            $(this).dialog('close');
                            $.post('url/theOtherValueYouWantToPAss');
                        }
                    }
                });
            });

            $("#Reset").click(function () {
                if (confirm("Are you sure you want to reset this build?")) {
                    $("#delete-button").attr("href", "query.php?ACTION=delete&ID='1'");
                }
                else {
                    return false;
                }
            });
        });
    </script>
}
